In [ ]:
def student_id():
    student_id = input('학번: ')
    if student_id[3] == '0':
        age = 2021 - int('20'+student_id[3:5]) +1
    else:
        age = 2021 - int('19'+student_id[3:5]) +1
    if student_id[6] == 1 and student_id[6] != 's'  and int(student_id[:2])<22 and age >18:
        if student_id[-1] == 's':
            print('학년: ',21-int(student_id[:2]))
        elif student_id[-2] == 's':
            print('학년: ',21-int(student_id[:2])-1)
        else: 
             print('학년: ',21-int(student_id[:2])+1)
        if student_id[2] == 1:
            sex = '여자'
        else: 
            sex = '남자'
        print('나이: ',age,'살')
        if int(student_id[5:6]) >= 0 and int(student_id[5:7]) <30:
            print('학과: ','컴퓨터학과')
        elif int(student_id[5:6]) >= 30 and int(student_id[5:7]) <90:
            print('학과: ','정보통계학과')
        else:
            print('학과: ','문헌정보학과')
    elif
    else:
        print('잘못 입력하셨습니다,')

In [ ]:
def student_id():
    student_id = input('학번: ')

In [ ]:
student_id()
student_id()

In [ ]:
student_id()

# 새로운시도

In [ ]:
import pandas as pd
def student_id():
    student_id = input('학번: ')
    df = pd.DataFrame([int(student_id[5:7])], columns = ['학과'])
    #성별
    df['성별'] = np.where(student_id[2]=='1','여성','남성' )
    #학과
    conditionlist = [
    (df['학과'] >= 0) & (df['Salary'] <30),
    (df['학과'] <= 89) ,
    (df['학과'] <= 99)]
    choicelist = ['컴퓨터학과', '정보통계학과', '문헌정보학과']
    df['학과학과'] = np.select(conditionlist, choicelist, default='Not Specified')
    #나이
    df['나이'] = [2021 - int('20'+student_id[3:5]) +1 if student_id[3] == '0' else 2021 - int('19'+student_id[3:5]) +1]

# 새로운시도

In [6]:
def student():
    student_id = input('학번: ')
    year = int(student_id[:2])
    dep = int(student_id[5:7])
    birth = int(student_id[3:5])

    grade = 21-year+1 
    sex = '여성' if student_id[2]=='1' else '남성' 
    age =22-birth if student_id[3] == '0' else  122 -birth 
    
    if dep >= 0 and dep <30:
        dep = '컴퓨터학과'
    elif dep >= 30 and dep <90:
        dep = '정보통계학과'
    elif dep >= 90 and dep <100:
        dep = '문헌정보학과'
        
    if year>21 or student_id[2] not in ['0','1'] or age<=18:
        print('잘못 입력하였습니다')
    else: 
        if student_id[-1] != 's' and len(student_id)<=7:
            grade = 21-year+1
            print("학년 : {}\n성별 : {}\n나이 : {}\n학과 : {}".format(grade, sex, age, dep))
        elif student_id[-1] == 's'and student_id[-3] != 's':
            grade = 21-year-1 if student_id[-2] == 's'else 21-year
            print("학년 : {}\n성별 : {}\n나이 : {}\n학과 : {}".format(grade, sex, age, dep))
        else:
            print('잘못 입력하였습니다')

In [4]:
print('-----------------------------------------------------------------')
student()
print('-----------------------------------------------------------------')
student()

-----------------------------------------------------------------
학번: 1819976
학년 : 4
성별 : 여성
나이 : 23
학과 : 정보통계학과
-----------------------------------------------------------------
학번: 1829976
잘못 입력하였습니다

In [11]:
student()

학번: 181047
잘못 입력하였습니다

In [ ]:
student()

In [ ]:
#major = '컴퓨터학과' if 0<dep<30 else '정보통계학과' if 29<dep<90 else '문헌정보학과' 

#if student_id[-1] == 's' :

In [ ]:
100-77

In [ ]:
k=10

In [ ]:
sex = '1' if k<0 else '2' if k <2 else print('k')