In [34]:
def mnum():
    a =[]
    nl = list(input('공백기준 숫자 input : ' ).split(' '))
    maxlen = max(list(map(len,nl)))
    for i,n in enumerate(nl):
        if len(n) == 1:
            n = n *(maxlen-len(n)+1)
        else:
            n = n + ('0'*(maxlen-len(n)))
        a.append((i,n))
        a.sort(key= lambda x : x[1], reverse=True)
    print('Output : ', ''.join([nl[k] for k,_ in a]))

In [35]:
mnum()

공백기준 숫자 input : 451 5413
Output :  5413451

In [25]:
mnum()

공백기준 숫자 input : 10
Output :  10

In [27]:
mnum()

공백기준 숫자 input : 30 3 34
Output :  34330

# 좀 더 간단한 방법

In [15]:
def mnum():
    a = list(input('공백기준 숫자 input : ' ).split(' '))
    a.sort(key= lambda x : x*3, reverse=True)
    print('Output : ', ''.join(a))

In [16]:
mnum()

공백기준 숫자 input : 3 5 8 7
Output :  8753

In [18]:
mnum()

공백기준 숫자 input : 999 998 777
Output :  999998777